/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Search

# Content

# Media Queries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
* {
  font-variant-ligatures: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
li,
a,
ul li {
  font-family: sans-serif;
}

:-webkit-any(article, aside, nav, section) h1 {
  margin-block-start: 0.67em;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  width: 100%;
  letter-spacing: 1.5px;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="submit"] {
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="text"],
input[type="text"]:focus,
textarea:focus {
  outline: none;
}

/*--------------------------------------------------------------
# Search
--------------------------------------------------------------*/
.search,
.search-submit {
  padding: 1em;
  margin: 1em;
  border: 1px solid #efefef;
  border-radius: 10px;
}

.search:hover,
.search-submit:hover,
.fa-search:hover {
  border-color: #deb887;
  color: #deb887;
}
