/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Tables
# CSS Flex-Box
# Search
# Content
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
* {
  font-variant-ligatures: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;500&display=swap");

body,
li,
a,
ul li {
  font-family: "Prompt", sans-serif;
}

:-webkit-any(article, aside, nav, section) h1 {
  margin-block-start: 0.67em;
}

h1 {
  color: #deb887;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  width: 100%;
  letter-spacing: 1.5px;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="submit"] {
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="text"],
input[type="text"]:focus,
textarea:focus {
  outline: none;
}

/*--------------------------------------------------------------
# Tables
--------------------------------------------------------------*/
table th,
td {
  padding: 0.5em;
}

table,
tr {
  border: 1px solid #deb887;
}

thead,
tbody {
  background-color: #f8f8f8;
}

th {
  text-align: left;
}

tbody {
  border: 5px solid #ffffff;
}

th {
  color: #deb887;
  font-weight: 500;
}

td {
  font-weight: 300;
}

/*--------------------------------------------------------------
# CSS Flex-Box
--------------------------------------------------------------*/
.flex-row-even {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

/*--------------------------------------------------------------
# Search
--------------------------------------------------------------*/
.search {
  width: 45%;
  font-weight: 300;
}

.search-submit {
  background-color: #ffffff;
}

.search {
  border: 2px solid #efefef;
}

.search,
.search-submit {
  padding: 1em 1.5em;
}

.search:hover,
.search-submit:hover,
.fa-search:hover {
  border-color: #deb887;
  color: #deb887;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.container {
  padding-top: 2em;
  padding-bottom: 2em;
  border: 1px solid #deb887;
}

.p-bottom-1 {
  padding-bottom: 1em;
}

.p-left-5 {
  padding-left: 5em;
}
